<h1>
    Hi there, wanna join?
</h1>

<hr>

<div class="error">
    {{ error }}
</div>

<div class="form-group">
    <label for="name">Name</label>
    <input (ngModelChange)="enterName($event)" [ngModel]="name" type="text" placeholder="Name" id="name">
</div>

<div class="form-group">
    <label for="name">Game Code</label>
    <input (ngModelChange)="enterCode($event)" [ngModel]="code" type="text" placeholder="code" id="code">
</div>

<button type="submit" name="submit" class="btn btn-success" (click)="submitCode($event)">
    Play!
</button>

<br>
<hr>

<button class="btn btn-primary" [routerLink]="['/tekenen']"> Maak een tekening </button>
<button class="btn btn-primary" [routerLink]="['/compose']"> Verplaats de tekeningen </button>
