<div class="center-container">
    <h1>
        Hi there, wanna join?
    </h1>

    <hr>

    <div class="error">
        {{ error }}
    </div>

    <div class="form-group row">
        <label for="name" class="col-4 col-form-label">Name</label>
        <div class="col-8">
            <input (ngModelChange)="enterName($event)" [ngModel]="name" type="text" placeholder="Name" id="name" class="form-control">
        </div>
    </div>

    <div class="form-group row">
        <label for="code" class="col-4 col-form-label">Game Code</label>
        <div class="col-8">
            <input (ngModelChange)="enterCode($event)" [ngModel]="code" type="text" placeholder="code" id="code" class="form-control">
        </div>
    </div>

    <button [hidden]="joined" type="submit" name="submit" class="btn btn-success" (click)="submitCode($event)">
        Play!
    </button>

    <div class="start-new-game" [hidden]="isEmpty(gameData)">
        <hr>
        <br><br>
        <button (click)="startGame()" class="btn btn-primary btn-lg">
            Start game
        </button>
    </div>


    <br>
    <hr>

</div>