.container {
  margin-top: 10%;
  margin-bottom: 10%;
}

body {
    background: url("../assets/background.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Montserrat', serif;
}

h1 {
    font-family: 'Arvo', sans-serif;
    font-weight: bold;
    color: #F59A15;
}

.center-container {
    margin: 0 auto;
    width:80%;
}

canvas {
    background: white;
    border: 1px solid #ddd;
}

.btn-gradient {
    /* f7882f > f7c331 */
}