<div class="container" #container>
    <div class="row justify-content-center">
        <div class="col-12" #title>
            <h2>
                Time left: {{ timer }}
            </h2>
            <h4>
                Your artwork: <strong>{{ doodle_name }}</strong>
            </h4>
        </div>

        <div class="col-12">
            <canvas #drawCanvas [attr.width]="stageWidth" [attr.height]="stageHeight"></canvas>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-12">
            <button class="btn btn-success" (click)="exportImage()">
                Send image
            </button>
        </div>
    </div>
</div>