<h1>Kies een van de volgende antwoorden die het beste de tekening beschrijft</h1>

<body>


<table class="table">
    <thead>
    <tr>
        <th class="hide">id</th>
        <th class="title">Possible Answers</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td class="hide">1</td>
        <td>A Pizza slice in universe</td>

    </tr>
    <tr>
        <td class="hide">2</td>
        <td>A Pizza slice in the fridge</td>

    </tr>
    <tr>
        <td class="hide">3</td>
        <td> A pizza slice on a rock</td>
    </tr>
    <tr>
        <td class="hide">4</td>
        <td>A pizza slice with salami</td>

    </tr>
    <tr>

    </tr>
    </tbody>

</table>
</body>
