<h1>Kies het juiste antwoord!</h1>

<body class="row jumbotron">

<div class="col-xs-6 col-md-4">
    <h4>Picture Created</h4>
    <img src="../../assets/Pizza-slice.png"/>
</div>
<div class="col-xs-6 col-md-4">
    <h4 class="title">Possible Answers</h4>
    <button (click)="clicked($event)" class="btn btn-defaut" data="false">A Pizza slice in universe</button>
    <button (click)="clicked($event)" class="btn btn-defaut" data="false">A Pizza slice in the fridge</button>
    <button (click)="clicked($event)" class="btn btn-defaut" data="false"> A pizza slice on a rock</button>
    <button (click)="clicked($event)" class="btn btn-defaut" data="true">A pizza slice with salami</button>
    <button (click)="clicked($event)" class="btn btn-defaut" data="false">A pizza slice with sausage</button>
</div>
</body>
