<div id="background">
<div [hidden]="state != DisplayState.NEWGAME" class="center">
    <h1 class="orange">Welcome to Poodle</h1>

    <h1 class="code green center">
        {{game.code}}
    </h1>

    <ul>
        <li *ngFor="let player of players">
            {{ player.playerName }}
        </li>
    </ul>
<h3 class="green">Everybody in?</h3>
    <button (click)="changeState()" class="mybutton">
    </button>
</div>

<div [hidden]="state != DisplayState.COMPOSE">
    <canvas #composeCanvas [attr.width]="stageWidth" [attr.height]="stageHeight"></canvas>
</div>
</div>