@font-face {
    font-family: Arvo-Bold;
    src: url(../../assets/Arvo-bold.ttf);
}
@font-face {
    font-family: Montserrat-Bold;
    src: url(../../assets/Montserrat-Bold.otf);
}

.mybutton {
    background-image: url("../../assets/startgame_button.png");
    border: 1px solid rgba(0, 0, 0, 0);
    height: 55px;
    width: 212px;
    border-radius: 100px;
    background-color: #F59A15;
    outline: none;
    box-shadow: none;
    cursor: pointer;
}

.center {
    text-align: center;
    margin: auto;
    width: 50%;
}

.green {
    color: #3AAF93;
    font-family: Montserrat-Bold;
}

.orange{
    color: #F59A15;
    font-family: Arvo-Bold;
}

.code {
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    width: 150px;
}
